/* Font Family  */
*{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Upper Banner Style ---->> It contains --> Nav Bar, h1, p, button and an image */
.upper-banner-container{
    background: rgba(255, 144, 14, 0.1);
    margin-bottom: 0px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 228px;
    padding-right: 240px;
    column-gap: 673px;
}

.nav-left-content{
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}


.nav-right-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    font-weight: 500;
    font-size: 18px;
    
}

.upper-banner-contents{
    text-align: center;
}

.upper-banner-texts-and-btn{

}

#upper-banner-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-right: 529px;
    margin-left: 529px;
    margin-bottom: 0px;
}

#upper-banner-subtitle{
    font-weight: 400;
    font-size: 16px;
    margin-right: 529px;
    margin-left: 529px;
    margin-top: 36px;
    margin-bottom: 32px;
}

.btn-upper-banner{
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-top: 0px;
    margin-bottom: 50px;

}

.upper-banner-img{
    
    justify-content: center;
    padding: 0px 0px 45px 0px;
    width: 1440px;
height: 700px;
margin: 0px;

}

/* Quick List  */

.btn-primary{
    height: 64px;
left: 1082px;
background: #FF900E;
border-radius: 8px;
padding: 20px 25px;
color: #FFFFFF;
font-weight: 600;
font-size: 20px;
border: none;
}

.quick-list-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 301px;
    margin-top: 85px;
    margin-right: 73px;
    gap: 24px;
}


#features-orange{
    color: #FF900E;
}

#quick-list{
    color: #727272;
}

/* Class= quick-list  */
.quick-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 301px; */
}

.quick-list-txt-items{
    margin-left: auto;
    margin-right: 301px;
    
}

/* Features You Enjoy */
.features-you-enjoy{
    display: flex;
    justify-content: space-between;
    column-gap: 150px;
    margin-top: 130px;
    
    
}

#feature-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.feature-box{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
}

.features-whole-left-box{
    width: 586px;
    height: 1300px;
    margin-left: 240px;
}


/* Feature's Right Two Image Container Style */
.btn-experience{
    border-radius: 8px;
    border: none;
    width: 342px;
    height: 200px;
    background: #FF900E;

}

#Year-of-exp{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

#exp-txt{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}

/* Image+Button Overlay (Positioning)  */

.architect-img-and-exp-container{
    position: relative;
    top: 0;
    left: 0;
    margin-right: 240px;
    width: 800px;
    height: 1059px;
}

.btn-experience{
    position: relative;
    top: 870px;
    right: 75px;

}

.architect{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px; 
}



/* Some Facts  */

.some-facts-txts{
margin-top: 0px;
margin-left: 240px;
}

.some-facts-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

#some-facts-subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-right: 1138px;
}

/* Fact Cards */
.facts-cards-container{
    margin-right: 290px;
    margin-left: 290px;
}

.facts-cards-1, .facts-cards-2, .facts-cards-3, .facts-cards-4 {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    /* height: 241.83px; */
    text-align: center;
    padding: 45px 35px; 
    transition: width 1s, transform 1s;
}

.facts-cards-1:hover{
    width: 250px;
    transform: rotate(30deg);
}
.facts-cards-2:hover{
    width: 250px;
    transform: rotate(30deg);
}
.facts-cards-3:hover{
    width: 250px;
    transform: rotate(30deg);
}
.facts-cards-4:hover{
    width: 250px;
    transform: rotate(30deg);
}


.facts-cards-container{
    display: flex;
    justify-content: space-between;
    column-gap: 124px; 
    margin-top: 100px;
}

/* Our sponsor style  */
.our-sponsors{
    margin-top: 180px;
}

.sponsor-title{
    font-weight: 700;
    font-size: 45px;
}

.sponsor-subtitle{
    margin-top: 24px;
    margin-right: 689px;
    margin-left: 689px;
}

.sponsor-texts{
    text-align: center;
}

.sponsor-img-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer-para{
    background: #FFF4E7;
    border-radius: 8px;
    padding: 39px 410px;
    margin: 130px 216px 240px 240px;
}

/* Goal banner  */
.btn-goal{
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    border: none;
}

.goal-banner-container{
    display: flex;
    align-items: center;
    margin: 240px;
    column-gap: 170px;
}

.goal-banner-title{
    font-weight: 700;
    font-size: 45px;
}



/* Media Query: Mobile Device */

@media only screen and (max-width: 688px){
    *{
        margin-right: 0px;
        margin-left: 0px;
    }
    .nav-left-txt{
        grid-template-columns: repeat(1, 1fr);
    }
   .upper-banner-texts-and-btn, .nav-bar, .nav-right-content{
        grid-template-columns: repeat(1, 1fr);
        
        flex-direction: column;
        justify-items:center;
        
    }
    .upper-banner-container{
        width: 100%;
        
    }
    .upper-banner-img{
        width: 688px;
        height: 564px;
    }
    .upper-banner-title{
        margin-left: 0px;
    }
    #upper-banner-subtitle, #upper-banner-title{
        margin-right: 0px;
        margin-left: 0px;
    }
    /* Quick List Image */
    .quick-list-txt-items, .quick-list-img, .quick-list{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-items:center;
        margin-right: 0px;
        margin-left: 0px;
        align-items: center;
    }
    .quick-list-txt-items{
        text-align: center;
    }

    .features-you-enjoy{
    flex-direction: column;
    justify-items:center;
    }
    .features-whole-left-box{
        margin-left: 0px;
        width: 100%;
    }
    .architect{
        width: 687px;
        height: 1170;
    }
    .btn-experience {
        /* position: relative; */
        top: 1000px;
        right: -170px;
    }

    .some-facts{
        margin-top: 300px;
        
    }

    .some-facts-txts{
        margin-left: 0px;
        text-align: center;
    }

    #some-facts-subtitle{
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    }

    .facts-cards-container{
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        row-gap: 80px;
    }

    .sponsor-subtitle{
        margin-left: 0px;
        margin-right: 0px;
    }

    .sponsor-img-container{
        flex-direction: column;
        justify-items:center;
        row-gap: 50px;
    }

    .goal-banner-container{
        flex-direction: column;
        justify-items:center;
        row-gap: 50px;
    }

    .goal-banner-left-contents{
        text-align: center;
    }

    .footer-para{
        background: #FFF4E7;
        border-radius: 8px;
        padding: 30px 10px;
        margin: 130px 0px 0px 0px;
        text-align: center;
    }

    .architect-img-and-exp-container{
        margin-right: 0px;
        width: 687px;
        height: 1174px;
    }
}